.verticalHeight{
    height: 100vh
}

@media(max-width: 375px) {
    .verticalHeight{
        height: auto !important;
    }    
}

@media(max-height: 750px){
    .verticalHeight{
        height: auto !important;
    }
}