.jumbo-dark{
    background-color: slateblue;
}

.hr-dark{
    background-color: aqua;
}

/* Links Change Color */
.jumbo-dark a, a:link{
    color: mintcream
}

a, a:link { 
    color: steelblue;
}
  
a:hover{
    color: rgb(28, 212, 151); 
}


/*Blinking Cursor*/
.cursor{
    color: lime; 
    font-size: 24px;
}

.cursor:hover{
    color: cornflowerblue;
}

#blinking-cursor{
    animation: blinkingCursor 1s steps(2) infinite
}

.animated { 
    -webkit-animation-duration: 2s;
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count: infinite;
 }

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
 }

/*******/
@keyframes blinkingCursor {
    0% { visibility: hidden;}
    100% { visibility: visible;}
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
 } 
 
 @keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 }

/********/
@media (max-width: 767px) {
    .indexBio{
        font-size: 15px;
    }
}


@media (max-width: 575px) {
    body,html{
        height: 50%;
    }
    .indexBio{
        font-size: 16px;
    }
}

@media(max-width: 475px) {
    body,html{
        height: 50%;
    }
    .indexBio{
        font-size: 14px;
    }
}


@media(max-width: 375px) {
    body,html{
        height: 50%;
    }
    .indexBio{
        font-size: 16px;
    }
    #jumbo-home{
        margin-top: 10px;
        height: 90vh;
        padding: 80px 0px 0px 0px;
    }
    .jump-link{
        font-size: 22px;
    }
    .indexBio{
        height: 100vh;
    }
}



