#portfolio-title{
    padding: 80px 0px 20px 0px;
}

.dark-cards{
    background-color: coral;
    color:white;
}

#portfolio-text p {
    font-size: 22px;
}

@media(max-width: 375px) {
    #portfolio-text{
        height: 100vh;
        padding: 40px 0px 0px 0px;
    }
}