footer{
    background-color: #e9ecef;
    padding: 60px 0px 80px 0px;
    margin-top: 20px;
}

footer.dark{
    background-color: slateblue;
}

footer.dark a{
    color:black;
}

footer.dark a:hover{
    color: lime; 
}

/* Small Devices (landscape phones, 576px or less) */
@media (max-width: 576px){
    .footer-mobile-helper{
        text-align: center;
    }
}