footer{
    background-color: #e9ecef;
    padding: 60px 0px 80px 0px;
    margin-top: 60px;
    font-size: 18px;
}

footer a{
    color: steelblue
}

footer.dark{
    background-color: cornflowerblue;
}

footer.dark a{
    color:mintcream;
}

footer.dark a:hover{
    color: rgb(28, 212, 151); 
}

/* Small Devices (landscape phones, 576px or less) */
@media (max-width: 576px){
    .footer-mobile-helper{
        text-align: center;
    }
}